# Base de Datos MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=VintageDB
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_PORT=3307

# API Backend (.NET)
API_PORT=5000
CONNECTION_STRING=Server=db;Port=3306;Database=VintageDB;User=user;Password=password;
ASPNETCORE_ENVIRONMENT=Development

# Frontend
FRONTEND_PORT=3000

# Cloudinary (Imagenes)
CLOUDINARY_CLOUD_NAME=dcn9ifinh
CLOUDINARY_API_KEY=312165561994152
CLOUDINARY_API_SECRET=j8HRF1nT3OvlkUCbfErWN9F_Gww

# JWT Auth
JWT_SECRET=thisisthesecretforecommercevintage(mustbeatleast32bitlong)
JWT_ISSUER=Ecommerce-Vintage
JWT_AUDIENCE=GenericUsers
