.contact-us-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 53, 46);
  padding: 6rem 0;
  width: 100%;
  margin: 0;
}


.shadow-accent {
  filter: drop-shadow(0 0 15px rgba(255, 193, 7, 0.4));
}

.contact-us-container {
  background-color: rgba(78, 53, 46, 0.778);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.298);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 45rem;
}

.contact-us-container:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.412);
}

.contact-us-container .form-control {
  background-color: rgba(255, 255, 255, 0.693);
  margin-bottom: 15px;
}

.contact-us-container .form-control:focus {
  background-color: rgb(33, 37, 41);
  color: white;
  border-color: white;
  box-shadow: none;
}

.section-title {
  color: #f8f9fa;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main-wp:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.412);
  transition: transform 0.2s ease-in-out;
}

.icon-wp {
  height: 60px;
}