.contact-us-wrapper {
  min-height: 100vh;
  background-color: rgb(78, 53, 46);
}

.contact-us-container {
  background-color: rgba(78, 53, 46, 0.778);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.298);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 60rem;
}

.contact-us-container:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.412);
}

.contact-us-container .form-control {
  background-color: rgba(255, 255, 255, 0.693);
  margin-bottom: 15px;
}

.contact-us-container .form-control:focus {
  background-color: rgb(33, 37, 41);
  color: white;
  border-color: white;
  box-shadow: none;
}

.section-title {
  color: #f8f9fa;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
