.about-us-wrapper {
  background: linear-gradient(180deg, #212529 0%, #3e2723 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-us-section {
  color: #f8f9fa;
  flex: 1;
  padding: 6rem 0;
  /* Padding lateral manejado por el Container de Bootstrap */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  /* O el ancho que prefieras para el contenido */
  margin: 0 auto;
}

.brand-name {
  color: #ffc107;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card-text {
  font-size: 1.1rem;
}

.lead {
  font-size: 1.2rem;
}

.card-hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card-hover {
    margin-bottom: 20px;
  }

  .about-us-section {
    padding: 20px;
  }
}