/* ProductCard.css */

.product-card {
  width: 26rem;

  background: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.img-rounded {
  padding: 0;
  margin: 0;
  height: auto;
  border-radius: 0;
}

.title-card {
  font-weight: 900;
  font-family: "Caveat", cursive;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-hover:hover {
  background-color: #343a40;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-full-width {
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 0.5rem;
}

.body-text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(46, 44, 44);
}
.body-category {
  font-size: 20px;
  font-weight: 500;
  color: rgba(245, 245, 245, 0.67);
  font-style: italic;
}
