/* ProductCard.css */

.product-card {
  width: 20rem;
  background: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
}

.img-rounded {
  border-radius: 4px;
  width: calc(100% - 2rem);
  margin: 1rem;
  height: auto;
}

.title-card {
  font-weight: bolder;
  font-size: 4rem;
  font-family: "Caveat", cursive;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-hover:hover {
  background-color: #343a40;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-full-width {
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 0.5rem;
}
